.theme_size_default {
  --text-size-s: 8px;
  --text-size-m: 10px;
  --text-size-l: 11px;
  --text-size-xl: 13px;
  --text-size-xxl: 16px;
  --line-height-s: 21px;
  --line-height-m: 25px;
  --line-height-l: 28px;
  --line-height-xl: 34px;
  --line-height-xxl: 38px;
  --border-size: 3px;
}
