.payment__footer {
  & .form__control {
    display: flex;
    justify-content: flex-end;
  }

  @media (max-width: $screen-s) {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .form__label {
      width: initial;
    }
  }
}
