.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@import '_border/card_border_all.scss';

@import '_view/card_view_default.scss';

@import '__content/card__content.scss';
@import '__footer/card__footer.scss';
