.theme_color_project-brand {
  --bg-color-default: #07f;
  --bg-color-accent: #fff;
  --border-color: #fff;
  --text-color-primary: #fff;
  --text-color-secondary: rgba(255, 255, 255, 0.6);
  --text-color-extra: rgba(255, 255, 255, 0.3);
  --text-color-link: #fff;
}
