.theme_color_project-inverse {
  --bg-color-default: #000;
  --bg-color-accent: #fff;
  --border-color: #fff;
  --text-color-primary: #fff;
  --text-color-secondary: rgba(255, 255, 255, 0.6);
  --text-color-extra: rgba(255, 255, 255, 0.3);
  --text-color-link: #07f;
}
