.theme_color_project-default {
  --bg-color-default: #fff;
  --bg-color-accent: #fc0;
  --border-color: #000;
  --text-color-primary: #000;
  --text-color-secondary: rgba(0, 0, 0, 0.6);
  --text-color-extra: rgba(0, 0, 0, 0.3);
  --text-color-link: #07f;
}
