.header__content {
  max-width: $screen-l;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $screen-l) {
    padding-right: var(--gap);
    padding-left: var(--gap);
  }
}
