.card__footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

@import '_distribute/card__footer_distribute_between.scss';
@import '_distribute/card__footer_distribute_center.scss';
@import '_distribute/card__footer_distribute_right.scss';

@import '_vertical-align/card__footer_vertical-align_top.scss';
@import '_vertical-align/card__footer_vertical-align_center.scss';
@import '_vertical-align/card__footer_vertical-align_bottom.scss';
