.informer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@import '_border/informer_border_all.scss';
@import '_view/informer_view_default.scss';

@import '__content/informer__content.scss';
@import '__action/informer__action.scss';
