.image {
  width: 100%;
  height: 100%;
  border: var(--border-size) solid var(--border-color);
  background-color: var(--bg-color-default);
  background-image: var(--image);
  background-repeat: no-repeat;
  background-position: center center;
}
