.text_size_xxl {
  --word-width-s: 36px;
  --word-width-m: 88px;
  --word-width-l: 184px;
  --word-height: 16px;
  --word-indent-top: calc((var(--line-height-xxl) - var(--word-height)) / 2);
  --word-indent-bottom: calc((var(--line-height-xxl) - var(--word-height)) / 2);
}
